In [1]:
a=[1,3,4]
print(a)
a[0]=9
print(a)

b=[1,3,'string']
print(b)
b.append(6.24)
print(b)

print(2*a)
print(b*2)
c=[a[i]*a[i] for i in range(len(a))]
print(c)

[1, 3, 4]
[9, 3, 4]
[1, 3, 'string']
[1, 3, 'string', 6.24]
[9, 3, 4, 9, 3, 4]
[1, 3, 'string', 6.24, 1, 3, 'string', 6.24]
[81, 9, 16]

In [2]:
a = (1,2,3)
print(a)
b=(1,3,'string')
print(b)

a[0]=2
a.append(4)

(1, 2, 3)
(1, 3, 'string')

TypeError: 'tuple' object does not support item assignment

In [3]:
info = {'A':2.3, 'B':'C', 5:'D'}
print(info)
info['A'] = 5.2
print(info)

info['Hello'] = [1,2,3,4,'World']
print(info)

{'A': 2.3, 'B': 'C', 5: 'D'}
{'A': 5.2, 'B': 'C', 5: 'D'}
{'A': 5.2, 'B': 'C', 5: 'D', 'Hello': [1, 2, 3, 4, 'World']}

In [4]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])
for x in thistuple:
    print(x)
tuple1 = ("abc", 34, True, 40, "male", "abc")
print(tuple1[2])
a=1,
b=1
print(type(a), type(b))
print(a,b)

tuple1 = ("a", "b", "c")
tuple2 = (1,2,3)
tuple3 = tuple1 + tuple2
tuple4 = tuple2*2
print(tuple3, tuple4)

banana
apple
banana
cherry
True
<class 'tuple'> <class 'int'>
(1,) 1
('a', 'b', 'c', 1, 2, 3) (1, 2, 3, 1, 2, 3)

In [8]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)
y = ("orange",)
thistuple += y
print(thistuple)

('apple', 'banana', 'cherry')
('apple', 'banana', 'cherry', 'orange')

In [9]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)
y = list(thistuple)
y.append("orange",)
thistuple = tuple(y)
print(thistuple)

('apple', 'banana', 'cherry')
('apple', 'banana', 'cherry', 'orange')

In [12]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")
(green, yellow, *red) = fruits
print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [13]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")
(green, *yellow, red) = fruits
print(green)
print(yellow)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

In [17]:
items = [1,2,3,4,"Hello", 6.24]

for k in range(0, len(items)):
    print(items[k])
print("--------------")
for item in items:
    print(item)
print("--------------")
items = [[1,2], [3,4], [5,6]]
for item in items:
    print(item[0], item[1])
print("--------------")
for item1, item2 in items:
    print(item1, item2)
print("--------------")
info = {'A' :1, 'B':2, 'C':3}
for key in info:
    print(key, info[key])
print("--------------")
for key, value in info.items():
    print(key, value)

1
2
3
4
Hello
6.24
--------------
1
2
3
4
Hello
6.24
--------------
1 2
3 4
5 6
--------------
1 2
3 4
5 6
--------------
A 1
B 2
C 3
--------------
A 1
B 2
C 3

In [19]:
a = [[1,2],[3,4],[5,6]]
b= [['A','B'], ['C','D'], ['E','F']]
print(a)
print(b)
print("------------------------------")
for digits, characters in zip(a, b):
    print(digits, characters)

[[1, 2], [3, 4], [5, 6]]
[['A', 'B'], ['C', 'D'], ['E', 'F']]
------------------------------
[1, 2] ['A', 'B']
[3, 4] ['C', 'D']
[5, 6] ['E', 'F']