In [1]:
a = 1
b = 1
c = "String"

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1
1
String
<class 'int'>
<class 'int'>
<class 'str'>

In [2]:
def f(x, y):
    val = x + y
    return val

In [3]:
a = 1
b = 2
d = f(a, b)
print(d)

3

In [4]:
f = lambda x, y: x + y

In [5]:
a = 1
b = 2
d = f(a, b)
print(d)

3

In [2]:
a = [1, 3, 4]
print(a)
a[0] = 9
print(a)

b = [1, 3, 'string']
print(b)
b.append(6.24)
print(b)

print(2*a)
print(b*2)

c = [a[i] * a[i] for i in range(len(a))]
print(c)

[1, 3, 4]
[9, 3, 4]
[1, 3, 'string']
[1, 3, 'string', 6.24]
[9, 3, 4, 9, 3, 4]
[1, 3, 'string', 6.24, 1, 3, 'string', 6.24]
[81, 9, 16]

In [3]:
a = (1, 2, 3)
print(a)
b = (1, 3, 'string')
print(b)
a[0] = 2
a.append(4)

(1, 2, 3)
(1, 3, 'string')

TypeError: 'tuple' object does not support item assignment

In [4]:
info = {'a' : 2.3, 'B' : 'C', 5 : 'O'}
print(info)

info['a'] = 5.2

info['Hello'] = [1, 2, 3, 4, 'World']
print(info)

{'a': 2.3, 'B': 'C', 5: 'O'}
{'a': 5.2, 'B': 'C', 5: 'O', 'Hello': [1, 2, 3, 4, 'World']}

In [6]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [7]:
for x in thistuple:
    print(x)

apple
banana
cherry

In [8]:
tuple1 = ("abc", 34, True, 40, "male", "abc")
print(tuple1[2])
a=1,
b=1

print(type(a), type(b))

True
<class 'tuple'> <class 'int'>

In [9]:
print(a, b)

(1,) 1

In [10]:
tuple1 = ("a", "b", "c")
tuple2 = (1, 2, 3)
tuple3 = tuple1 + tuple2
tuple4 = tuple2 * 2
print(tuple3, tuple4)

('a', 'b', 'c', 1, 2, 3) (1, 2, 3, 1, 2, 3)

In [11]:
thisistuple = ("apple", "banana", "cherry")
print(thisistuple)

y = ("orange",)
thisistuple += y
print(thisistuple)

('apple', 'banana', 'cherry')
('apple', 'banana', 'cherry', 'orange')

In [12]:
thisistuple = ("apple", "banana", "cherry")
print(thisistuple)

y = list(thisistuple)
y.append("orange")
thisistuple = tuple(y)
print(thisistuple)

('apple', 'banana', 'cherry')
('apple', 'banana', 'cherry', 'orange')

In [13]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")
(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [14]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")
(green, *trapic, red) = fruits

print(green)
print(trapic)
print(red)

apple
['banana', 'cherry', 'strawberry']
raspberry

In [19]:
items = [1, 2, 3, 4, 'Hello', 4.24]
for k in range(0, len(items)):
    print(items[k])

print("------")

for item in items:
    print(item)

print("------")

info = {'A' :1, 'B' :2, 'C' :3}
for key in info:
    print(key, info[key])

print("-------")

for key, value in info.items():
    print(key, value)

items1 = [[1, 2], [3, 4], [5, 6]]
items2 = [['A', 'B'], ['C', 'D'], ['E', 'F']]
print(items1)
print(items2)
print("----------------------")
for digits, characters in zip(items1, items2):
    print(digits, characters)

1
2
3
4
Hello
4.24
------
1
2
3
4
Hello
4.24
------
A 1
B 2
C 3
-------
A 1
B 2
C 3
[[1, 2], [3, 4], [5, 6]]
[['A', 'B'], ['C', 'D'], ['E', 'F']]
----------------------
[1, 2] ['A', 'B']
[3, 4] ['C', 'D']
[5, 6] ['E', 'F']

In [20]:
filename = "readme.txt"
file = open(filename, 'w')
file.write("Hello world")
file.close()

In [22]:
filename = "readme.txt"
file = open(filename, 'r')
content = file.read()
print(content)
file.close()

Hello world

In [25]:
x = {'apple', 'banana', 'cherry'}
y = enumerate(x)
print(list(y))
print("-------------")
for entry in enumerate(['A', 'B', 'C']):
    print(entry)

print("-------------")

for i, letter in enumerate(['A', 'B', 'C']):
    print(i, letter)

print("-------------")

for i, letter in enumerate(['A', 'B', 'C'], start=101):
    print(i, letter)

[(0, 'cherry'), (1, 'banana'), (2, 'apple')]
-------------
(0, 'A')
(1, 'B')
(2, 'C')
-------------
0 A
1 B
2 C
-------------
101 A
102 B
103 C

In [26]:
filename = "readme.txt"
with open(filename, 'w') as file:
    file.write("Hello world")

In [27]:
filename = "readme.txt"
with open(filename, 'r') as file:
    content = file.read()
    print(content)

Hello world