In [3]:
a = 1
b = 2
c = "String"
print (a)
print (b)
print (c)
print (type(a))
print (type(b))
print (type(c))

1
2
String
<class 'int'>
<class 'int'>
<class 'str'>

In [5]:
def f(x,y):
    val = x+y
    return val

In [6]:
a = 1
b =2
d = f(a,b)
print(d)

3

In [10]:
f= lambda x,y : x + y
a = 1
b = 2
d = f(a,b)
print(d)

3

In [13]:
a = [1,3,4]
print (a)
a[0] = 9
print (a)

b = [1,3,'string']
print(b)
b.append(6.24)
print(b)

print(2*a)
print(b*2)
c=[a[i]+ a[i] for i in range(len(a))]

[1, 3, 4]
[9, 3, 4]
[1, 3, 'string']
[1, 3, 'string', 6.24]
[9, 3, 4, 9, 3, 4]
[1, 3, 'string', 6.24, 1, 3, 'string', 6.24]

In [25]:
a = (1,2,3)
print (a)
b = (1,3,'string')
print(b)

a[0] = 2
a.append(4)

(1, 2, 3)
(1, 3, 'string')

TypeError: 'tuple' object does not support item assignment

In [26]:
info = {'A' : 2.3, 'B' :'C' , 5 : 'd'}
print(info)

info['A'] =5.2
print(info)

info['Hello'] = [1,2,3,4,'world']
print(info)

{'A': 2.3, 'B': 'C', 5: 'd'}
{'A': 5.2, 'B': 'C', 5: 'd'}
{'A': 5.2, 'B': 'C', 5: 'd', 'Hello': [1, 2, 3, 4, 'world']}

In [27]:
# 기본 타입 튜플(tuple)실습
thistuple = ("apple","banana","cherry")
print(thistuple[1])
for x in thistuple:
    print(x)
tuple1= ("abc",34,True,40,"male","abc")
print(tuple1[2])
a=1,
b=1

print(type(a),type(b))
print(a,b)


tuple1= ("a","b","c")
tuple2=(1,2,3)
tuple3= tuple1 + tuple2
tuple4= tuple2*2
print (tuple3, tuple4)

banana
apple
banana
cherry
True
<class 'tuple'> <class 'int'>
(1,) 1
('a', 'b', 'c', 1, 2, 3) (1, 2, 3, 1, 2, 3)

In [31]:
#udate tuple
thistuple = ("apple","banana","cherry")
print(thistuple)
y=("orange",)
thistuple += y
print(thistuple)

thistuple = ("apple","banana","cherry")
print(thistuple)
y = list(thistuple)
y.append('orange')
thistuple = tuple(y)
print(thistuple)

frults= ("apple", "banana","cherry","strawberry","raspberry")
(green,yellow, *red)=frults
# *red는 남은 나머지 주소를 전부 할당하겠다는 뜻
print(green)
print(yellow)
print(red)

('apple', 'banana', 'cherry')
('apple', 'banana', 'cherry', 'orange')
('apple', 'banana', 'cherry')
('apple', 'banana', 'cherry', 'orange')
apple
banana
['cherry', 'strawberry', 'raspberry']

In [40]:
#for loop

items = [1,2,3,4,'hello',6.24]

for k in range(0,len(items)):
    print(items[k])
print('-------------')
for item in items:
    print(item)
print('-------------')
items = [[1,2],[3,4],[5,6]]
for item in items:
    print(item[0],item[1])
print('-------------')
for item1,item2 in items:
    print(item1,item2)
print('-------------')
info = {'A' : 1, 'B' :2, 'C' :3}
for key in info:
    print(key, info,[key])
print('-------------')
for key,val in info.items():
    print (key,val)

1
2
3
4
hello
6.24
-------------
1
2
3
4
hello
6.24
-------------
1 2
3 4
5 6
-------------
1 2
3 4
5 6
-------------
A {'A': 1, 'B': 2, 'C': 3} ['A']
B {'A': 1, 'B': 2, 'C': 3} ['B']
C {'A': 1, 'B': 2, 'C': 3} ['C']
-------------
A 1
B 2
C 3

In [39]:
items1 = [[1,2],[3,4],[5,6]]
items2 = [['A','B'],['C','D'],['E','F']]
print(items1)
print(items2)
print('--------------------------------------------')
for digits, characters in zip(items1,items2):
    print (digits, characters)

[[1, 2], [3, 4], [5, 6]]
[['A', 'B'], ['C', 'D'], ['E', 'F']]
--------------------------------------------
[1, 2] ['A', 'B']
[3, 4] ['C', 'D']
[5, 6] ['E', 'F']

In [58]:
a= []
for k in range(0,5):
    a.append(k)
print(a)
print('------------------------')
a = [k for k in range(0,5)]
print(a)
print('------------------------')
a = [k if (k*1)%2 else k*5*1 for k in range(0,2)]
print(a)
print('------------------------')
a = [k for k in range(0,5) if k% 2== 0]
print(a)
print('------------------------')
a = {k : k*10 for k in range(0,5)}
print(a)
print('------------------------')
a = [1,3,4]
c = [a[i] * a[i] for i in range(len(a))]
print(c)

[0, 1, 2, 3, 4]
------------------------
[0, 1, 2, 3, 4]
------------------------
[0, 1]
------------------------
[0, 2, 4]
------------------------
{0: 0, 1: 10, 2: 20, 3: 30, 4: 40}
------------------------
[1, 9, 16]

In [43]:
#enumerate
x = ('apple','banana','cherry')
y = enumerate(x)
print(list(y))
print('------------------------')
for entry in enumerate(['A','B','C']):
    print(entry)
print('------------------------')
for i , entry in enumerate(['A','B','C']):
    print(i,entry)
print('------------------------')
for i , letter in enumerate(['A','B','C'],start=101):
    print(i,letter)

[(0, 'apple'), (1, 'banana'), (2, 'cherry')]
------------------------
(0, 'A')
(1, 'B')
(2, 'C')
------------------------
0 A
1 B
2 C
------------------------
101 A
102 B
103 C

In [45]:
#파일 쓰기 
filename = 'readme.txt'
file = open(filename,'w')
file.write("Hello world")
file.close()

In [46]:
#파일 읽기
filename = 'readme.txt'
file = open(filename,'r')
content = file.read()
print(content)
file.close()

Hello world

In [47]:
filename = 'readme.txt'
with open(filename, 'w')as file:
    file.write("Hello world")

In [48]:
filename = 'readme.txt'
with open(filename, 'r')as file:
    content = file.read()
    print(content)

Hello world