In [4]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])
for x in thistuple:
    print(x)
    tuple1 = ("abc", 34, True, 40, "male", "abc")
    print(tuple1[2])
    a = 1,
    b = 1
    print(type(a), type(b))
    print(a,b)

    #tuple 연산
    tuple1 = ("a", "b", "c")
    tuple2 = ( 1, 2, 3)
    tuple3 = tuple1 + tuple2
    tuple4 = tuple2*2
    print(tuple3,tuple4)

banana
apple
True
<class 'tuple'> <class 'int'>
(1,) 1
('a', 'b', 'c', 1, 2, 3) (1, 2, 3, 1, 2, 3)
banana
True
<class 'tuple'> <class 'int'>
(1,) 1
('a', 'b', 'c', 1, 2, 3) (1, 2, 3, 1, 2, 3)
cherry
True
<class 'tuple'> <class 'int'>
(1,) 1
('a', 'b', 'c', 1, 2, 3) (1, 2, 3, 1, 2, 3)